# This file defines the thickness of the paper used by the program
# It's defined as:
#   k * 10 ^ (-exp) meters
# Insert 'k' here
10

# And 'exp' here
# Note: 'exp' is always intended as negative. Don't put a negative number
4

# In this example file the paper thickness is
# 1 * 10 ^ (-4) meters  --->  0.0001 meters  --->  0.1 mm